<html>
<head>
    <title>Hello</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Hello-World.css') }}">
</head>
<body>
    <h1>Hello World!</h1>
    <p>Today is September 10,2022. It is 9:44 pm. </p>
    <p>Queen Elizabeth died yesterday at 96 years old. </p>
    <p>Have a goodnight.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Queen_Elizabeth_II_in_March_2015.jpg/1200px-Queen_Elizabeth_II_in_March_2015.jpg" alt="Image of Queen Elizabeth"> <br>
    <button type="button">Click Me World!</button>
</body>
</html>